ion-tab-bar {
  --background: var(--ion-background-color);
  border-top: 1px solid var(--ion-border-color);
  padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
}
